/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap';

@font-face {
font-family: 'Nunito';
src: url(fonts/Nunito/static/Nunito-Regular.ttf) format('opentype');
}

$font-family: "Nunito", sans-serif;



/*-- scss:rules --*/


body {
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;

  @media (max-width: 600px) { // This targets screens with a width of 600px or less
    font-size: 1rem; // Adjust this value as needed for mobile devices
  }
}


h1, h2, h3, h4, h5{
  font-family: 'Nunito', sans-serif;
}


// SCSS for two-column layout
.container {
  display: flex; // Use flexbox for layout

  .column {
    flex: 1; // Make columns equally wide
    padding: 10px; // Add padding for spacing
  }

  .left {
    background-color: #f0f0f0; // Style left column
  }

  .right {
    background-color: #e0e0e0; // Style right column
  }
}

.charity h1, h2, h3, h4 {
  text-align: center;
}

.centered-paragraph {
    text-align: center;
    font-size: 1.33rem;
  }
  
  .columns {
  display: flex;
  flex-wrap: wrap; // Allows wrapping for the columns
  
  .column {
    flex: 1; // This allows the column to take up available space
    width: 50%; // This sets the default width to 50%

    @media only screen and (max-width: 600px) {
      width: 100%; // Stacks columns vertically on mobile devices
    }
  }
}

.center {
  justify-content: center;
}


$social-icon-gap: 20px;
$social-icon-width: 200px;
$mobile-breakpoint: 600px;

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: $social-icon-gap;

  .social-icon {
    flex-basis: calc(25% - #{$social-icon-gap});
    text-align: center;

    img {
      width: $social-icon-width;
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    .social-icon {
      flex-basis: calc(50% - #{$social-icon-gap});
    }
  }
}

.site-footer {
    width: 100%;
    background-color: #ffe5fe; 
    color: #333; 
    text-align: center;
    padding: 20px 0; /* Adjust this value based on your footer content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-footer p {
  margin-top: 1rem;
}